.imgslide1 img{
    width: 15rem; 
    height:15rem;
}
.imgslide1{
    overflow-x: hidden;
    width: 100%;
    display: flex;
 scroll-behavior: smooth;
    align-items: center; 
}
.imgslide2{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    gap: 10px;
    cursor: grab;
 scroll-behavior: smooth;
    align-items: center; 
}
.card-img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;

    box-shadow: -3px -3px 1px rgb(238, 235, 235),3px 3px 1px rgb(238, 235, 235);
}
.card-overlap{
    position: relative;
}
.card-overlap::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(114, 113, 113, 0.5), rgba(3, 3, 3, 0.5),rgb(0, 0, 0));
    z-index: 3;
    opacity: 1;
    border-radius: 10px;
   
}
.info{
    display: flex;
    justify-content: center;
  color: white;
    transform: translateY(-30px);
    z-index: 3;

}
.card-body{
    transform: translateY(-35px);
}
.img-btn{
    width: 10rem;
    height: 4rem;
}

body {
    margin: 0;
}

.sidebar {
    width: 500px;
    position: fixed;
    top: 0;
    left: -500px;
    height: 100%;
    transition: 0.3s;
    padding: 20px;
    z-index: 10;
    
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: #000;
}

.location-section {
    margin-top: 20px;
}




@media (max-width: 997px) {
    .sidebar {
     display: none;
    }
    .filter{
     display: none;
    }

    
}


