* {
    margin: 0;
    padding: 0;

}



.mcontainer {
    width: 400px;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}



#f-title,
#s-title {
    display: none;
}

.game {
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}


.box {
    width: 70px;
    height: 70px;
    background-color: #0bb5d3;
    font-size: 26px;
    border: none;
    outline: none;
    border-radius: 7px;
    color: brown;
    box-shadow: 5px 3px 5px grey;
    border: 2px solid orangered;
}

#reset-btn,
#new-btn {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    padding: 5px;
    background-color: black;
    border: 1px solid orangered;
    color: orangered;
}

.hide {
    display: none;
}

#msg-container {
    width: 500px;


    height: 150px;
    color: white;
    background-image: url("congrats-unscreen.gif");
}

#msg {
    margin-top: 50px;
    font-size: 30px;
}

