*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 100vh;
}

.container {
    width: 300px;
    min-height: 100px;
    height: fit-content;
    background-color: rgb(162, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 3px 4px 6px rgb(39, 1, 65);
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

h1 {
    color: rgb(0, 26, 255);
    text-shadow: -2px -1px 4px rgb(0, 217, 255), 2px 1px 4px rgb(0, 217, 255),
        -2px -2px 4px rgb(0, 217, 255), 2px 2px 4px rgb(0, 217, 255),
        -2px -3px 4px rgb(0, 217, 255), 2px 3px 4px rgb(0, 217, 255),
        -2px -4px 4px rgb(0, 217, 255), 2px 4px 4px rgb(0, 217, 255),
        -2px -5px 4px rgb(0, 217, 255), 2px 5px 4px rgb(0, 217, 255);

}

.task {
    width: 250px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent
}

.input input {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0 10px;
}

button {
    background-color: orangered;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

h3 {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.line {
    text-decoration: line-through;
}

#del {
    color: aqua;
    filter: drop-shadow(2px 2px 2px rgb(63, 62, 62));
}