.heading {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to right, skyblue, pink)
}

::selection {
    color: red;
}

nav {
    background-color: red;
}

h1 {

    color: #872341;
}

#book {

    color: #872341;
}

#content {
    margin: 20px 40px;

}

#create {
    margin: 40px;
}

p {
    padding: 25px;

text-transform: uppercase;
    overflow-y: hidden;
    border: none;
    outline: none;
    width: 300px;
  
    border-radius: 20px;

    margin-top: 20px;
    box-shadow: 3px 5px 7px rgb(95, 95, 95);
    position: relative;

}

#del {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30px;
    height: 30px;
}