@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
html { 
    /*For smooth scrolling behavior*/ 
    scroll-behavior: smooth; 
  
}
:root{
  --color:#f12f2f;
}
span{
color: var(--color);
}
.button{
    background-color:var(--color);
   color: white;

}
  .card-img-top{
    height: 10rem;
    object-fit: contain;
  }  
  .back{
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
  }
  .back img {
    transform: translate(-10px,-149px) ;
  }
  .back::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width:355px; height:350px;
   
    background:transparent;
    z-index: -1;
   
   border: 19px solid var(--color);
    border-radius: 50%;
  
    transform-style: preserve-3d; /* Ensures children are rendered in 3D space */
    transform: rotateX(20deg) rotateY(30deg); /* Optional rotation for better 3D effect */

    /* Skew the circle to give a flat 3D appearance */
    transform: skewY(-7deg) rotateX(50deg);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2); /* Optional shadow for more depth */
}


#themeIcon{

  color: #111111;
  border-radius: 50%;

  font-size: 40px;
  


}
.buton{
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
}

.button:hover{
 background-color: var(--color);

}
#icon{
 
  opacity: 0;
}
#colorBox{
  
  /* left: 100%; */
  width: 160px;
 height: 99px;
  padding: 4px; display: none;


 
}
.colorInner{
  display: flex;
width: 150px;
height: 90px;
flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  border-radius: 10px;
  background-color: #3D7EAE;
}

.btn1{
  background-color: #3498db;
  border-radius: 50%;
  color: #3498db;
}
.btn2{
  background-color: #ff1756;
  border-radius: 50%;
  color: #ff1756;
}
.btn3{
  background-color: #1cb65d;
  border-radius: 50%;
  color:#1cb65d ;
}
.btn4{
  background-color: #f12f2f;
  border-radius: 50%;
  color:#f12f2f ;
}
.btn5{
  background-color:blue;
  border-radius: 50%;
  color:blue ;
}

.btn6{
  background-color: #ae00ff;
  border-radius: 50%;
  color:#ae00ff ;
}
.link a::before {
    content: "";
    position: absolute;

    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    transform: scalex(0);
    transform-origin: left;
    bottom: 0px;
    transition: 0.50s;
}
.link a:hover::before {
    color: black;

    transform: scalex(1);

}
h2{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  

}
textarea{
    resize:none;
}

.scrollToTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 33px;
    right: 20px;
    background: rgb(228, 226, 226);
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
}
.scrollToTop i{
    font-size: 40px;
    color: var(--color);
}

.display{
    opacity: 1;
    pointer-events: auto;

}

.p-content p{
    text-align: center;
    font-size: 1.1rem;
}
.p-content {

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */

}
.a {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative; */
    margin: 30px;
    margin-top: 30px;

}

.b{
    text-align: center;
    align-content: center;
    height: 90px;
    width: 90px;
    color:#111111;
    background-color: rgb(215, 225, 226);
    border-radius: 50%;
}i{
  color: white;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}


@media (max-width: 448px) {
  .back img {
    transform: translate(0px,0px) ;
    width: 70%;
    height: 80%;
  }
  .back::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width:290px; height:285px;
   
    background:transparent;
    z-index: -1;
   
   border: 19px solid var(--color);
    border-radius: 50%;
  
    transform-style: preserve-3d; /* Ensures children are rendered in 3D space */
    transform: rotateX(20deg) rotateY(30deg); /* Optional rotation for better 3D effect */

    /* Skew the circle to give a flat 3D appearance */
    transform: skewY(-7deg) rotateX(50deg);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2); /* Optional shadow for more depth */
}


}