@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
html { 
    /*For smooth scrolling behavior*/ 
    scroll-behavior: smooth; 
  
}
:root{
  --color:#f12f2f;
}
span{
color: var(--color);
}
.button{
    background-color:var(--color);
}
  .card-img-top{
    height: 10rem;
    object-fit: contain;
  }  

#themeIcon{

  color: #111111;
  border-radius: 50%;

  font-size: 40px;
  


}
.buton{
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
}
#icon{
 
  opacity: 0;
}
#colorBox{
  
  /* left: 100%; */
  width: 160px;
 height: 99px;
  padding: 4px; display: none;


 
}
.colorInner{
  display: flex;
width: 150px;
height: 90px;
flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  border-radius: 10px;
  background-color: #3D7EAE;
}

.btn1{
  background-color: #3498db;
  border-radius: 50%;
  color: #3498db;
}
.btn2{
  background-color: #ff1756;
  border-radius: 50%;
  color: #ff1756;
}
.btn3{
  background-color: #1cb65d;
  border-radius: 50%;
  color:#1cb65d ;
}
.btn4{
  background-color: #f12f2f;
  border-radius: 50%;
  color:#f12f2f ;
}
.btn5{
  background-color:blue;
  border-radius: 50%;
  color:blue ;
}
.back{
  background-color: var(--color);
}
.btn6{
  background-color: #ae00ff;
  border-radius: 50%;
  color:#ae00ff ;
}
.link a::before {
    content: "";
    position: absolute;

    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color);
    transform: scalex(0);
    transform-origin: left;
    bottom: 0px;
    transition: 0.50s;
}
.link a:hover::before {
    color: black;

    transform: scalex(1);

}
h2{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  

}
textarea{
    resize:none;
}

.scrollToTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 33px;
    right: 20px;
    background: rgb(182, 180, 180);
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
}
.scrollToTop i{
    font-size: 40px;
    color: var(--color);
}

.display{
    opacity: 1;
    pointer-events: auto;

}

.p-content p{
    text-align: center;
    font-size: 1.1rem;
}
.p-content {

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */

}
.a {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative; */
    margin: 30px;
    margin-top: 30px;

}

.b{
    text-align: center;
    align-content: center;
    height: 90px;
    width: 90px;
    color:#111111;
    background-color: rgb(215, 225, 226);
    border-radius: 50%;
}

/* From Uiverse.io by Admin12121 */ 
.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  justify-content: center;
  margin: auto;
  height: 55px;
}
i{
  color: white;
}

.switch-button .switch-outer {
  height: 100%;
  background: #252532;
  width: 115px;
  border-radius: 165px;
  -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  border: 1px solid #32303e;
  padding: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.switch-button .switch-outer .button-toggle {
  height: 42px;
  width: 42px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3b3a4e),
    to(#272733)
  );
  background: -o-linear-gradient(#3b3a4e, #272733);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  position: relative;
  z-index: 2;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  left: 0;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .buttoncheck
  .button-toggle {
  left: 58%;
}

.switch-button
  .switch-outer
  input[type="checkbox"]:checked
  + .buttoncheck
  .button-indicator {
  -webkit-animation: indicator 1s forwards;
  animation: indicator 1s forwards;
}

.switch-button .switch-outer .buttoncheck {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
  height: 25px;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 3px solid #ef565f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 10px;
  position: relative;
}

@-webkit-keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}

@keyframes indicator {
  30% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    border: 3px solid #60d480;
    left: -68%;
  }
}